form {
  width: 20em;
  margin-top: 7.5em;
}

label {
  font-size: .8em;
  letter-spacing: .1em;
}

input {
  display: block;
  padding: 1em;
  border-radius: 10px;
  border: hsl(270, 3%, 87%) solid 1px;
}

::placeholder {
  font-size: 18px;
  color: hsl(270, 3%, 87%);
}

