@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.styling-container {
  height: 15em;
  background: url('./Resources/images/bg-main-mobile.png');
}

img {
  height: 160px;
}

.card-back-container {
  position: absolute;
  top: 2em;
  right: 1em;
}

.card-front-container {
  position: absolute;
  top: 7.6em;
  left: 1em;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 6em;
}

.card-back-text {
  color: red;
  /* position: relative; */
  font-size: .5em;
  top: -17em;
  margin-right: auto;
}